<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="JWT_SECRET" value="test-secret-key-for-phpunit"/>
    <env name="JWT_EXPIRATION" value="3600"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/Domain</directory>
      <directory suffix=".php">src/Application</directory>
    </include>
  </source>
</phpunit>
